.App {
  margin: 12% auto;
  text-align: center;
  color: white;
}

.container {
  background-color: rgba(0, 0, 0, 0.858);
  width: 50% !important;
  padding: 10px 25px 15px;
  border-radius: 10px;
}

.title {
  background-color: red;
  border-radius: 5px;
}

.button {
  background-color: orange;
  margin: auto;
  width: 50%;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

