.bg-red {
  background-color: #ff0000;
}

.bg-orange {
  background-color: #ff9600;
}

.bg-yellow {
  background-color: #ffbc00;
}

.bg-green {
  background-color: #58CC02;
}

.bg-blue {
  background-color: #1cb0f6;
}

.bg-purple {
  background-color: #5c6cfc;
}